{% extends 'index.html' %}

{% load widget_tweaks %}

{% block content %}
<br><br><br><br><br>
<!-- mensagem de cadastro -->
<div class="container d-flex flex-column align-items-lg-start" id="fechar">
  <div class="container pt-2">
    <div class="row gy-4 gx-lg-4">
      <div class="col-lg-12">
        {% for message in messages %}
        <div class="alert alert-success text-center" role="alert">
          {{ message }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- fim da mensagem -->

<!-- botão de cadastro e imprimir -->
<div class="container d-flex flex-column align-items-lg-start">
  <div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="idfornecedor">Cadastrar</button>
    <a href="{% url 'export_excel_fornecedor' %}"><button type="button" class="btn btn-secondary float-end">Imprimir</button></a> 
  </div>
</div>
<!-- fim do botão -->

<!-- tabela de veículo -->
<div class="container d-flex flex-column align-items-lg-start">
  <div class="container pt-2">
    <table class="table table-hover" id="fornecedor">
      <thead class="bg-dark text-light text-center">
        <tr>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            <th scope="col">Número</th>
            <th scope="col">Bairro</th>
            <th scope="col">Cidade</th>
            <th scope="col">Telefone</th>
            <th scope="col">Email</th>
            <th scope="col">Data</th>
            <th scope="col">Opção</th>
          </tr>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for fornecedor in fornecedores %}
        <tr>
          <td>{{ fornecedor.provide_name }}</td>
          <td>{{ fornecedor.address }}</td>
          <td>{{ fornecedor.number }}</td>
          <td>{{ fornecedor.district }}</td>
          <td>{{ fornecedor.city }}</td>
          <td>{{ fornecedor.phone_number }}</td>
          <td>{{ fornecedor.email }}</td>
          <td>{{ fornecedor.date_create }}</td>
          <td>
            <!--<a href="{% url 'delete_fornecedor' fornecedor.id %}" class="btn btn-danger bi bi-trash3-fill"></a>-->
            <a href="{% url 'update_fornecedor' fornecedor.id %}"><button class="btn btn-secondary bi bi-pencil-square" data-target="#exampleModal" data-toggle="modal"></button></a>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot class=" text-dark text-center">
        <tr>
          <th>Nome</th>
          <th>Endereço</th>
          <th>Número</th>
          <th>Bairro</th>
          <th>Cidade</th>
          <th>Telefone</th>
          <th>Email</th>
          <th>Data</th>
          <th>Opção</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<!-- fim da tabela veículo-->

<!-- formulário do modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="#" id="exampleModalLabel">Cadastro de fornecedor</h5>
        <a href="{% url 'fornecedor' %}"><button type="button" class="close c-ptimary rounded" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button></a>
      </div>
      <div class="p-3">
        <form action="." method="POST" class="form-group">{% csrf_token %}
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="">Nome do Fornecedor:</label>
              {% render_field form.provide_name placeholder='Nome' class+="form-control" %}
              <br>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <label for="">Endereço:</label>
              {% render_field form.address placeholder='Endereço' class+="form-control" %}
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <label for="">Número:</label>
              {% render_field form.number placeholder='Número' class+="form-control" %}
              <br>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <label for="">Bairro:</label>
              {% render_field form.district placeholder='Bairro' class+="form-control" %}
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <label for="">Cidade:</label>
              {% render_field form.city placeholder='Cidade' class+="form-control" %}
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <label for="">Telefone:</label>
              {% render_field form.phone_number placeholder='Telefone' class+="form-control" %}
            </div>
          </div>
          <div class="form-group mt-3">
            <label for="">Data:</label>
            {% render_field form.date_create placeholder='dd/mm/aaaa' class+="form-control" %}
          </div>
          <div class="form-group mt-3">
            <label for="">Email:</label>
            {% render_field form.email placeholder='Email' class+="form-control" %}
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <a href="{% url 'fornecedor' %}"><button type="button" class="btn btn-secondary">Fechar</button></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- fim do formulário -->

<script>
  window.onload = function (){
    let botaomodal = document.getElementById('idfornecedor')
    let variavel = window.location.pathname
    if(variavel.includes("update-fornecedor")){
      botaomodal.click()
    }
    
  }

</script>
{% endblock %}